#historic-table-container{
    box-sizing: border-box;
    border-radius: 1rem;
    margin-top: 0;
    overflow: hidden;
    text-align: center;
}

table{
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
}

th, td{
    padding: 1rem;
    background-color: white;
}

td{
    border-top: 2px solid #282828;
}