#export-format-options {
    margin-bottom: 1rem;
    gap: 1rem;
}

#export-header {
    
}

#export-selection {
    text-align: center;
}

#export-selection tr:last-child {
    border-bottom: 2px solid #282828;
}

#export-options{
    padding-top: 1rem;
}