body {
  column-count: 2;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 1rem;
  background-color: #282828;
  color: #373B44;
  min-height: 100vh;
  box-sizing: border-box;
}

@media screen and (max-width: 1300px) {
  body {
    column-count: 1;
  }

  section{
    margin-bottom: 1rem;
  }
  
}

button {
  --b: 3px;   /* border thickness */
  --s: .2em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.3em + var(--s)) calc(.4em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: pointer;
}

button:hover,
button:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

button:active {
  background: var(--color);
  color: #fff;
}

.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    position: relative;
}
  
.inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
}
  
.inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
}
  
.inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #e8e8e8;
}
  
.inputGroup :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
}