#time-tracker{
    background-color: black;
    overflow: hidden;
    border-radius: 1rem;
    box-sizing: border-box;
}

#time-tracker-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    justify-content: space-around;
    flex-wrap: wrap;

    border-bottom: 2px solid #282828;
    background-color: white;
}

#time-tracker-header h1, #time-tracker-header h3{
    display: inline;
}

#time-tracker-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    border-top: 2px solid #282828;
    background-color: white;
}

#timer-container .timer:nth-child(odd) {
    background-color: rgb(232 232 232);
}

#timer-container .timer:nth-child(even) {
    background-color: white;
}

.timer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    padding: .5rem;
}

.timer.active-timer {
    box-shadow: inset 0px 0px 5px 1px #e97ec4; /* #5f5f5f; */
    
}

.timer.active-timer button {
    opacity: 0.3;
    cursor: auto;
}

.timer.active-timer button:hover,
.timer.active-timer button:focus-visible {
  --_p: var(--s);
  outline: var(--b) solid #0000;
  outline-offset: .6em;
}



#timer-container .timer:nth-child(even) .inputGroup :is(input:focus, input:valid)~label {
    background-color: white;
}

.light {
    filter: opacity(.6);
}

@media screen and (max-width: 650px) {
    .timer .inputGroup {
        width: 100%;
    }
  }
  